
#app{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.inner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnDiet{
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    color: #FB6356;
    background-color: white;
    font-weight: bold;
    align-self: center;
}

.hiddenBanner{
    display: none;
}
.showApp{
    display: block;
}

.container{
    align-items: center;
}

#app.hiddenApp{
    display: none;
}

.shadowBanner{
    display: block;
}

.left-text-content p{
    padding-top: 15px;
}

.logo{
    cursor: pointer;
}

.logoMain img{
    width: 3.5em;
}
