
#app{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
}
.btnDiet{
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    color: #FB6356;
    background-color: white;
    font-weight: bold;
    align-self: center;
}

.hiddenBanner{
    display: none;
}
.showApp{
    display: block;
}

.hiddenApp{
    display: none;
}

.shadowBanner{
    display: block;
}